.profile-Img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 10px;
    border: 3px solid #1877F2;
    
}

.story-Img {
    height: 200px;
    width: 150px;
}
.story-name{
    position: relative;
    bottom: 20px;
    left: 50px;
}